acres
aiofiles
annotated-types
anyio
beautifulsoup4
blinker
blis
catalogue
certifi
charset-normalizer
ci-info
click
cloudpathlib
colorama
confection
configobj
configparser
cymem
etelemetry
filelock
fitz
Flask
frontend
fsspec
gdown
h11
httplib2
huggingface-hub
idna
itsdangerous
Jinja2
joblib
langcodes
language_data
looseversion
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
nibabel
nipype
numpy
packaging
pandas
pathlib
pillow
preshed
prov
puremagic
pydantic
pydantic_core
pydot
Pygments
PyMuPDF
pyparsing
PySocks
python-dateutil
pytz
pyxnat
PyYAML
rdflib
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
simplejson
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
thinc
threadpoolctl
tokenizers
tools
torch
tqdm
traits
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wasabi
weasel
Werkzeug
wheel
wrapt
pyinstaller
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
